{{#and price_range.min.with_tax price_range.max.with_tax}}
    <div class="price-section price-section--withTax" {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
        <span data-product-price-with-tax class="price">{{price_range.min.with_tax.formatted}} - {{price_range.max.with_tax.formatted}}</span>
        {{#and price_range.min.without_tax price_range.max.without_tax}}
            <abbr title="{{lang 'products.including_tax'}}">{{lang 'products.price_with_tax' tax_label=price_range.min.tax_label}}</abbr>
        {{/and}}
        {{#if schema_org}}
            <meta itemprop="availability" content="{{product.availability}}">
            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/{{product.condition}}Condition">
            <div itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
                <meta itemprop="minPrice" content="{{price_range.min.with_tax.value}}"  />
                <meta itemprop="price" content="{{price_range.min.with_tax.value}}">
                <meta itemprop="maxPrice" content="{{price_range.max.with_tax.value}}"  />
                <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                <meta itemprop="valueAddedTaxIncluded" content="true">
            </div>
        {{/if}}
    </div>
{{/and}}
{{#and price_range.min.without_tax price_range.max.without_tax}}
    <div class="price-section price-section--withoutTax {{#and price_range.min.with_tax price_range.max.with_tax}}price-section--minor{{/and}}"  {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
        <span data-product-price-without-tax class="price price--withoutTax">{{price_range.min.without_tax.formatted}} - {{price_range.max.without_tax.formatted}}</span>
        {{#and price_range.min.with_tax price_range.max.with_tax}}
            <abbr title="{{lang 'products.excluding_tax'}}">{{lang 'products.price_without_tax' tax_label=price_range.min.tax_label}}</abbr>
        {{/and}}
        {{#if schema_org}}
            <meta itemprop="availability" content="{{product.availability}}">
            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/{{product.condition}}Condition">
            <div itemprop="priceSpecification" itemscope itemtype="http://schema.org/PriceSpecification">
                <meta itemprop="minPrice" content="{{price_range.min.without_tax.value}}"  />
                <meta itemprop="price" content="{{price_range.min.without_tax.value}}">
                <meta itemprop="maxPrice" content="{{price_range.max.without_tax.value}}"  />
                <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                <meta itemprop="valueAddedTaxIncluded" content="false">
            </div>
        {{/if}}
    </div>
{{/and}}